<div class="ml-10">
    <%= link_to 'Return to all Blog Posts', '/blog_posts', class: 'btn mb-5 mt-5' %>
    <h1 class="decoration-solid decoration-8 font-bold text-lg">
        <%= @blog_post.title %>
    </h1>
    <p class="mt-2">
        <%= @blog_post.body %>
    </p>
</div>